*.conf
*.crt
*.csr
*.db
*.db-journal
*.db-shm
*.db-wal
*.json
*.key
*.log
*.pid
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
*.xml
.*
__pycache__/
deps/
gtfs/*
homebridge/
tts/
ip_bans.yaml
known_devices.yaml
OZW_Log.txt
plex.conf
secrets.yaml

!.gitignore
!.gitkeep
!/.travis.yml
