*.conf
*.crt
*.csr
*.db
*.db-journal
*.db-shm
*.db-wal
*.gz
*.key
*.log
*.pid
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
*.xml
.*
__pycache__/
appdaemon/compiled/
gtfs/*
tts/
venv/
www/cameras/*
ip_bans.yaml
known_devices.yaml
OZW_Log.txt
plex.conf
secrets.yaml

!.gitkeep
!/.codeclimate.yml
!/.github
!/.gitignore
!/.HA_VERSION
!/.mdlrc
!/.travis.yml
!/custom_components/hacs/.translations/*
