#
# Travis CI configuration
#
# @link https://home-assistant.io/docs/ecosystem/backup/backup_github/#step-7-configuration-file-testing
#
language: python
python:
  - "3.6"
before_install:
  - cp secrets-dummy.yaml secrets.yaml
  - touch home-assistant_v2.db
  - touch home-assistant.log
install:
  - pip3 install homeassistant
script:
  - hass --script check_config -c . -f
